<main>
<div class="users container">
    <h1>Users</h1>
    <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="user-link">
        <div class="user-container">
            <img src=<%= user.photo %> alt="User Photo" class="user-image">
            <div class="users-details">
            <div class="box">
            <h2 class="users-name"><%= user.name%></h2>
            <h4 class="post-count">Number of posts: <%= user.posts_counter %> </h4>
            </div>               
            </div>
        </div>
    </a>
    <% end %>
</div>
</main>