<div class="single-post-page">
  <div class="row">
    <%= render partial: "shared/post_body",  locals: {post: @post}%>
   <div class="comments-wrapper">
      <% if !@comments&.empty?%>
        <%= render partial: "shared/comments", locals: {comments: @comments}%>
        <%else%>
        <p>There are no comments yet</p>
       <%end%>

         <div class="comment_like_holder">
            <div class= "comment_form_holder">
            <h3>Leave a comment</h3>
            <%= render 'comments/form', comment: @comment %>
            </div>

            <div class="like_form_holder">
            <h3>Like this post</h3>
            <%= render 'likes/form', like: @like %>
            </div>
        </div>
    </div>
  </div>
</div>